:root {
  --brand: #ac5110;
}
.logo_image {
  max-height: 50px;
}
.running_price {
  font-weight: bold;
  color: var(--brand);
}
.old_price {
  font-weight: 700;
  text-decoration: line-through;
  margin-right: 10px;
}
.search-item a {
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: 10px;
  color: #000;
  background-color: transparent;
  border: 1px solid var(--brand);
}
.search-item a:hover {
  background-color: var(--brand);
  color: #fff;
}
.product-box {
  height: 560px;
  margin-bottom: 35px;
  /* width: 349px; */
  /* overflow: hidden; */
  border: 2px solid #e5e5e5;
}
.top_category_item {
  border: 1px solid var(--brand);
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  transition-duration: 0.2s;
}
.top_category_item:hover {
  background-color: #f5f2f2;
}
.top_category_name {
  display: block;
  margin: 0;
  margin-top: 5px;
}
.top_category_image {
  height: 50px;
  width: 50px;
}
th .wishlist_1 {
  text-align: center;
  margin-left: 20px;
}
.table-cart tr td .price {
  text-align: center;
  line-height: 64px;
  margin-right: -10px;
  color: #989898;
  font-size: 16px;
  font-family: "Nunito";
}
.td_element_div {
  text-align: right;
  margin-right: 135px;
}
.btn-add-wishlist a {
  display: inline-block;
  background-color: var(--brand);
  color: #fff;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 65%;
  margin-left: -35px;
}
.btn-add-wishlist img {
  margin-right: 4px;
}
.wishlist_delete {
  margin-right: 25px;
}
.hide_this {
  display: none !important;
}
.top_slider img {
  transform-style: preserve-3d;
  width: 100%;
  height: 481px;
  object-fit: cover;
  object-position: center;
}
.marquee_wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.marquee_flat_all {
  padding: 0 !important;
  color: #000;
  font-weight: 700;
}
.marquee_body {
  padding: 4px 20px 1px;
  background-color: white;
  border-radius: 25px;
}
.marquee_body marquee {
  font-size: 15px;
  line-height: 30px;
  height: 24px;
  font-weight: 400;
}
.child-list {
  padding: 0;
  width: 100%;
  margin: 0 0 15px;
  background: #fff;
}
.child-list a {
  display: inline-block;
  line-height: 34px;
  padding: 0 14px;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin: 15px 5px 5px 0;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 2px;
  /* margin-top: 15px; */
}
.bread-brand .child-list a:hover {
  background-color: var(--brand);
  color: #fff;
}
.bread-brand {
  margin-top: 2px;
}
.flat-breadcrumb-modified {
  padding: 5px 0 !important;
}
.btn-stock-out button {
  display: inline-block;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  background-color: var(--brand);
  border-radius: 30px;
  width: 220px;
  font-size: 16px;
  font-weight: 600;
}
.btn-stock-out button:hover {
  background-color: #2d2d2d;
}
.box-content {
  width: 100%;
  margin-top: 100px;
}
.categoryWiseProduct .my-product-box {
  height: 490px !important;
}
.categoryWiseProduct .my-box-content {
  margin-top: 20px !important;
}
.brandWiseWiseProduct .my-box-content {
  margin-top: 30px !important;
  padding-bottom: 12px;
}
.brandWiseWiseProduct .product-box {
  height: 500px;
  margin-bottom: 35px;
  border: 2px solid #e5e5e5;
}
a.s_icon {
  background-color: var(--brand);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
}
a.s_icon i {
  color: #fff;
}
.my-product-detail tr td {
  font-size: 13px !important;
  padding: 2px;
  font-weight: 400;
  border: 0;
}
.info-text my-product0detail-short-des {
  font-size: 14px;
}
.product-id .my-sku {
  color: #484848;
  font-weight: bold;
}
.my-sale {
  font-weight: 700 !important;
  font-size: 25px;
  color: #000;
}
.my-regular-price {
  font-size: 18px;
  color: #5a5959;
}
input.cartQuantity {
  border-radius: 5px;
  padding: 5px 12px;
  width: 100px;
  height: unset;
  box-sizing: border-box;
  border: 1px solid #000;
}
.product_cart_box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.add_to_cart {
  background: red;
  padding: 5px 30px;
  height: unset;
  font-size: 14px;
  line-height: 28px;
}
.my-login-page {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-login-page {
  margin-top: 100px;
  margin-bottom: 100px;
}
.flat-row-title h3 {
  padding-top: 48px;
  padding-bottom: 2px;
  font-size: 30px;
}
.product_box_price_regular {
  font-size: 13px;
  margin-left: 10px;
}
.product_box_price_sale {
  font-size: 14px;
}
.imagebox .box-content .price .sale {
  font-size: 18px;
  margin: 0;
}
.imagebox .box-content .price {
  gap: 12px;
}
.compare_common {
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
.review-list .review-metadata .queue i:nth-child(5) {
  color: var(--brand) !important;
}
.upClass {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #f5f5f5;
  width: 200px;
}
.upClass .product_image {
  width: 120px;
  margin-bottom: 30px;
}
.wrap-compare .title {
  padding: 6px;
  justify-content: space-between;
}
/* .table_comp tr td.add-cart .removeItem {
    background-color: unset;
    border: 1px solid var(--brand);
    color: #000;
}
.table_comp tr td:first-child,
.table_comp tr td{
    width: 200px;
} */
span .error {
  font-weight: 700 !important;
}
.flat-marquee {
  /* padding: 35px 0 14px; */
  background-color: #f5f5f5;
}
.text-alignment {
  text-align: right;
}
.invoice-flex {
  justify-content: space-between;
}
.compare-add-to-cart a {
  display: inline-block;
  background-color: var(--brand);
  color: #fff;
  font-size: 12px;
  height: 35px;
  line-height: 37px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 3;
  width: 200px;
}
.compare-add-to-cart a img {
  height: 20px;
  width: 20px;
}
.dashboard-card-number {
  font-size: 30px;
  color: var(--brand);
}
.cart_product_view {
  display: grid;
  background-color: white;
  gap: 30px;
  grid-template-columns: 235px 1fr;
  padding: 20px;
  align-items: center;
  align-content: center;
}
.cart_product_view .product_name {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
.cart_product_view .variants {
  margin: 20px 0px;
}
.cart_product_view .variants .cart_select_variant {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
}


.header-dropdown {
  height: 400px;
  overflow: scroll;
}