.ws-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 15px;

}

h1.title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 34px;
}
.cursor-pointer{
    cursor: pointer;
}
.table-bordered thead td {
    padding: 14px 10px;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    background: #f5f7f9;
}
table.cart-total {
    float: right;
    max-width: 300px;
    margin: 20px 0 40px;
}
