$color_1: #ffffff;
$color_2: #414340;
$color_3: #c1272d;

.custom_scroll {

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 25px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 25px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d6d6d6;
        border-radius: 25px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
    background-color: white !important;
}

.swal2-popup.swal2-toast {
    background-color: #4d50a2 !important;

    .swal2-title {
        color: white !important;
    }
}

.selection {
    width: 100%;
}

.prevent_select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.cart_canvas {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;

        .cart_list {
            right: 0px;
        }

        .overlay {
            display: block;
        }
    }

    .cart_list {
        width: 100%;
        max-width: 400px;
        background-color: #f0f0f0;
        position: absolute;
        right: -400px;
        top: 0;
        height: 100vh;
        transition-duration: .3s;
        transition-delay: .2s;

        .header {
            background-color: #13163b;
            padding: 10px;
            text-align: center;

            h4 {
                color: white;
                font-size: 18px;
                margin-bottom: 0;
            }

            .close_cart {
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }
        }

        .body {
            padding: 15px;
            background-color: white;
            border-radius: 3px;
            height: calc(100vh - 164px);
            overflow-y: scroll;
            margin: 10px;
            margin-right: 5px;

            .cart_product_list {
                .cart_product_item {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #d6d6d6;
                    margin-bottom: 10px;

                    .left {
                        img {
                            height: 65px;
                            width: 65px;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    @media (max-width: 400px) {
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;

                        .left {
                            img {
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }

                    .right {
                        flex: 1;
                        width: 100%;

                        .top {
                            position: relative;

                            h4 {
                                font-size: 14px;
                                line-height: 18px;
                                padding-right: 16px;
                            }

                            .cart_remove {
                                position: absolute;
                                top: 0;
                                right: 0;
                                color: rgb(63, 63, 63);
                                cursor: pointer;

                                &:hover {
                                    color: red;
                                }
                            }
                        }

                        .bottom {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            justify-content: flex-end;

                            input {
                                width: 80px;
                                border-radius: 5px;
                                padding: 4px;
                                text-align: center;
                                border: 1px solid #13163b;

                                @media (max-width: 400px) {
                                    width: 68px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            background-color: white;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;

            .item {
                display: flex;
                align-items: center;
                color: black;
                gap: 30px;
                padding: 15px;

                .title {
                    flex: 1;
                    text-align: right;
                }
            }

            .checkout {
                a {
                    display: block;
                    background-color: #13163b;
                    color: white;
                    text-align: center;
                    padding: 10px 0px;
                    text-decoration: none;

                    &:hover {
                        background-color: #5c3726;
                    }
                }
            }
        }
    }

    .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.568);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.show_cart_list_icon {
    height: 60px;
    width: 60px;
    background-color: var(--website_text_color);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: calc(100vh - 199px);
    right: 14px;
    cursor: pointer;

    .title {
        font-size: 12px;
    }

    .amount {
        background-color: var(--bs-code-color);
        padding: 4px;
        position: absolute;
        right: -7px;
        top: -10px;
        font-size: 12px;
        border-radius: 3px;
        font-weight: 600;
        box-shadow: 0px 0px 2px #0000008f;
        min-width: 29px;
        text-align: center;
    }
}

@media print {
    body,
    html{
        background: white;
    }

    .container{
        padding: 0;
        margin: 0;
        width: 100vw;
        max-width: 100vw;
    }

    header,
    footer,
    #footer_main_div,
    .footer_div,
    .no_print,
    div:not(.print_body) {
        display: none;
    }

    section:has(:not(.print_body)){
        padding: 0 !important;
    }

    .print_body {
        overflow: hidden;
        div {
            display: block !important;
            .no_print {
                display: none !important;
            }
        }
    }
}
